<% if model.errors.any? %>
  <div style="color: red; text-align: center;">
    <ul style="display: inline-block; text-align: left; padding: 0; margin: 0; list-style: none;">
      <% model.errors.full_messages.each do |msg| %>
        <li>◦ <%= msg.gsub(/^(\w+)\s\1/, '\1') %></li>
      <% end %>
    </ul>
  </div>
<% end %>
